*{
    color: #000b54;
}

body {
    background: linear-gradient(to bottom right, #ffffff, #c0c5ff);
}

.card{


}
.card:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
row{
    margin: 0 auto;
}
col{
    margin: 0 auto;
}
section{
    margin:20%;
    text-align: center;
}
#mis\ proyectos{
    margin: 2%;
}
.nav-link {
    text-decoration: none; /* Quita el subrayado del enlace */
    color: inherit; /* Hereda el color del texto de su elemento padre */
}
.card{
    color:inherit;
}
.fs-4{
    font-weight: 600;
}
.horizontal-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
a{
    text-align: center;
}
.col {
    text-align: center; /* Centra el contenido horizontalmente */
    padding: 20px; /* Añade espacio alrededor del contenido */
}

.horizontal-container {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra verticalmente los elementos */
}

.horizontal-container a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #333; /* Cambia el color del texto de los enlaces */
    margin: 0 15px; /* Añade espacio horizontal entre los enlaces */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido verticalmente en cada enlace */
}

p {
    margin: 0; /* Elimina el margen predeterminado de los párrafos */
}
h1{
    padding-bottom: 20px;
}